# Author: Dr. Konstantin Selyunin
# Version: {{ version }}
# Date: {{ date }}

print(f"\\n========== HIDDEN REGISTERS ===================================")
{%- for register in regs %}
print(f"{{ '{:<30s}'.format(register.name.lower()) }}: {shearwater.{{ register.name.lower() }}}")
{%- endfor %}

